body {
  background: #ecf0f1;
  color: #8e44ad;
  font-family: Verdana;
}
.center-on-page {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  border:5px solid #8e44ad;
  border-radius:45px;
  margin:auto;
  padding-left: 30px;
  padding-bottom: 10px;
  background: #ECEEE8;
  width:650px;
}
h1{
	text-align:center;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #8e44ad;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* input file*/
.inputfile {
	width: 0.5px;
	height: 0.5px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    background-color: #E799E1;
    display: inline-block;
    border-radius: 6px;
}
.inputfile + label {
       cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label::before,
.inputfile + label:hover {
    background-color: #8e44ad;
}
/* submit*/
#submit {
  background-color: #E799E1;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: Verdana;
}
#submit:hover {
  border: none;
  background: #8e44ad;
  box-shadow: 0px 0px 1px #777;
}